/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.projCard{
	background-color: rgb(77, 208, 225,0.2);
}

.newsHeader {
	color: #ef5350;
	font-weight: 100;
	text-transform: uppercase;
}

h4 {
	font-weight: 900;
}

#projImg {
  height: 70%;
  max-height: 70%;
}

#projContent {
	max-height:30%;
	overflow-y: scroll;
	color:#424242;
	font-weight: 100;
}

#projBtn {
	bottom:5px;
}

#purchaseBtn {
	bottom:5px;
	right:75px;
}

#projTitle {
	background-color:rgba(229, 115, 115);
	padding:10px;
	margin-bottom: 0px;
	font-weight: 500;
	text-transform: uppercase;
}
